/*eef0f2-bbb5bd-e3bac6-bc9ec1-596475*/

body,
footer,
header,
p {
    margin: 0;
    padding: 0;
}

header .bar {
    background-color: #bbb5bd;
    width: 100%;
    height: 50px;
}

header ul {
    list-style: none;
    display: inline;
}

header li {
    display: inline;
}

header .menu {
    margin-left: 30%;
    padding-top: 15px;
}

header a {
    background-color: #EEF0F2;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
}

header a:hover {
    background-color: #BC9EC1;
    text-decoration: none;
}

footer .main {
    background-color: #596475;
    width: 100%;
    height: 200px;
}

.reviews {
    width: 700px;
    margin-left: 20%
}

.review {
    opacity: 1;
    width: 200px;
    height: 200px;
    float: left;
    transition: opacity 0.5s;
    margin: 10px;
    box-shadow: 0 4px 2px -2px gray;
}

.review img {
    position: absolute;
}

div.review:hover {
    opacity: 0.5;
    transition: opacity 0.5s;
}

.short-review {
    display: none;
    position: relative;
}

.review:hover .short-review {
    display: block;
    position: relative;
}

.review-header {
    height: 50px;
    width: 100%;
    background-color: #bbb5bd;
}

.review-header h2 {
    margin: auto;
    padding-top: 1%;
}

.social img {
    width: 40px;
}

.social-find {
    text-align: right;
    padding: 10px;
}

.lead-safe img {
    width: 20%;
}
